# UI
# Angular
node_modules/
dist/
coverage/
.angular/
*.log
*.tmp
src/environments/environment.ts
src/environments/environment.prod.ts

# common
.early.coverage

# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/

# VSCode settings (optional)
.vscode/

.env